header {
    margin-bottom: 2%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 10%;
    height: 10%;
}

h1 {
    color: #D82C2C;
}

.container {
    display: flex;
}

.critics {
    border-left: 0.5em solid #D82C2C;
    margin: 0 1%;
    position: relative;
}

img {
    max-width: 100%;
    position: relative;
}

.title {
    position: absolute;
    bottom: 30%;
    left: 4%;
}

.film-title {
    color: white;
    font-size: 1.5em;
}

.note {
    display: flex;
    justify-content: space-around;
}

.text-red {
    color: #D82C2C;
}

.text-italic {
    font-style: italic;
}

.paragraph {
    margin-left: 1%;
}

.critics {
    background-color: whitesmoke;
}


@media screen and (max-width: 800px) {
    .logo {
        width: 30%;
        height: 30%;
    }

    .container {
        flex-direction: column;
    }
}